.customerCEP{
    width: 350px;
}

.customerEstado, .customerCidade, .customerBairro, .customerRua, .customerNumero, .customerComplemento, .customerCPF, .customerPhone
{
    width: 350px;
}

.table-responsive{
    max-height:650px;
    overflow: auto;
}

.modal-dialog{
    max-width: 800px;
}

.popover{
    max-width: 550px;
}

.popover-body
{
    width: 550px;
}

.popover-body .popoverContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popover-body .popoverBtns{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.popover-body .popoverBtns button{
    margin-right: 10px;
}

.popover-body .filterList ul li{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deleteModalDialog{
    max-width: 500px;
}

.deleteHeader{
    background-color: #dc3545;
    color: white;
}